body {
  background: #4486f4;
}
article {
  background: #fff;
  border-radius: 6px;
  width: 70vw;
  height: 70vh;
  padding: 2rem;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
